<br>
<div class="servicios" >
    
        <div class="row align-items-md-stretch px-5">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3  mx-5">
              <h2 class="text-center">Mision</h2>
              <p class="text-justify">A.M diseña planes estrategicos para el crecimiento de grandes y pequeñas empresas,dandole mas visibilidad frente al mercado.Nuestra empresa lidera la revolución de la era digital. Nos reinventamos dia tras dia cada que el mercado evoluciona</p>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-secondary" type="button">Mas información</button>
            </div>  
              </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 mx-5">
              <h2 class="text-center">Vision</h2>
              <p class="text-justify">Creemos que existimos para brindar excelentes servicioc y nos enfocamos en la innovación. Creemos en lo simple, no en lo complejo. Creemos que debemos controlar las tecnologías detrás de los servicios que brindamos, y participar solo en los mercados</p>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-secondary" type="button">Mas información</button>
            </div>
        </div>
          </div>
        </div>

        <div class="py-5" style="width: 80%;">
        <div class="card text-center">
            <div class="card-header py-3 text-center fs-4 font-weight-bold"><strong>Razón Social</strong>
              
            </div>
            <div class="card-body">
              <p class="card-text text-center">Ayleen Murillo SAS.</p>
            </div>
          </div>
        </div>
  
</div>