   <br>
<div class="servicios">
  <h4 class="fs-2 pb-4" style="color: #434242;"> —   N u e s t r o s  -  S e r v i c i o s   — </h4>
</div>
<div class="servicios">
    <div class="card" style="width: 15rem;">
        <img src="assets/img/ma.jpg" class="im card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Marketing Digital</h6> 
          <p class="card-text text-justify">Promocionamos tu marca en internet y te enseñamos el analisis de los resultados que te brindamos.</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/img/SOCIAL.jpg" class="im card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Social Media</h6> 
          <p class="card-text text-justify">Promocionamos tu marca en internet y te enseñamos el analisis de los resultados que te brindamos.</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/img/seoo.jpg" class="im card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">SEO</h6> 
          <p class="card-text text-justify">Logramos que tu pagina aparezca en los buscadores,aumentando el trafico y la visibilidad.</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/img/email.jpg" class="im card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Email Marketing</h6> 
          <p class="card-text text-justify">Con ayuda de una base de datos,enviamos emails a todos sus clientes potenciales.</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/img/metrica.jpg" class="im card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Analisis de Metricas</h6> 
          <p class="card-text text-justify">Promocionamos tu marca en internet y te enseñamos el analisis de los resultados que te brindamos.</p>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img src="assets/img/soporte.jpg" class="im card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Canales de Atencion</h6> 
          <p class="card-text text-justify">Brindamos un equipo de soporte ante cualquier inquietud a tus clientes las 24 horas.</p>
        </div>
    </div>

    <div class="servicios">
        <h4 class="fs-2 pb-4 pt-3" style="color: #434242;"> —   Accede a nuestros planes   — </h4>
      </div>
  
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center pb-5">
        <div class="col">
            <div class="cards mb-3 rounded-3 shadow-sm">
              <div class="card-header py-1">
                <h4 class="my-0 fw-normal">Básico</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mes</small></h1>
                <ul class="list-unstyled mt-1 mb-1">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="cards mb-3 rounded-3 shadow-sm">
            <div class="card-header py-1">
              <h4 class="my-0 fw-normal">Estándar</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$28<small class="text-muted fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-1 mb-1">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="cards mb-3 rounded-3 shadow-sm">
              <div class="card-header py-1">
                <h4 class="my-0 fw-normal">Premium</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$40<small class="text-muted fw-light">/mes</small></h1>
                <ul class="list-unstyled mt-1 mb-1">
                  <li>20 users included</li>
                  <li>10 GB of storage</li>
                  <li>Priority email support</li>
                  <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
              </div>
            </div>
          </div>
      </div>
</div>

